section.section-cangcanphumy-banner
	.banner-background.img-cover
		img(src="./img/home-about-bg.jpg", alt="Cang Can Phu My banner background")
	.container-full
		.banner-inner
			h1.banner-heading(data-text='"THÀNH CÔNG CỦA BẠN LÀ THÀNH CÔNG CỦA CHÚNG TÔI"')
				span "THÀNH CÔNG CỦA BẠN LÀ THÀNH CÔNG CỦA CHÚNG TÔI"
			.banner-card-list
				article.banner-card.is-left
					.card-image.img-cover
						img(src="./img/clippath-img-left.svg", alt="He sinh thai logistics toan dien")
					.card-caption
						h2.card-title HỆ SINH THÁI LOGISTICS TOÀN DIỆN
				article.banner-card.is-right
					.card-image.img-cover
						img(src="./img/clippath-img-right.svg", alt="Giai phap van hanh toi uu xanh")
					.card-caption
						h2.card-title GIẢI PHÁP VẬN HÀNH TỐI ƯU XANH
