section.service-section.section-large.bg-white
	.container
		h1.site-title Dịch vụ
		.home-service-list.mt-10
			- for(x=1; x<=6; x++)
				.home-service-item.item-hover.is-rounded-tl
					.image.img-cover
						+img(680, 464)
					.caption
						h2.title Dịch vụ Hàng container
						.button.mt-6
							a(href="#").btn-lined.is-white
								span KHÁM PHÁ THÊM
								span.icon
									i.fa-solid.fa-arrow-right
									i.fa-solid.fa-arrow-right
