section.about-1-section.section-large.bg-neutral-50.is-rounded-bl-l
	.container
		h1.site-title Tiềm năng
		.site-desc.mt-10
			p Là Cảng cạn đầu tiên trên địa bàn tỉnh Bà Rịa - Vũng Tàu, Cảng cạn Phú Mỹ không chỉ là trung tâm hậu cần sau cảng mà còn là địa điểm tập kết và trung chuyển phân phối hàng hoá kỳ vọng sẽ tạo ra những giá trị cộng sinh để đáp ứng nhu cầu phát triển ngày càng gia tăng của doanh nghiệp và các nhà đầu tư trong khu vực.
			p Nằm trong KCNCS Phú Mỹ 3, trung tâm hệ sinh thái cảng biển – công nghiệp toàn diện, Cảng cạn Phú Mỹ có khả năng kết nối đường bộ, đường hàng không và đường thủy tới các cảng biển, ICD, Depot trong khu vực cũng như các vùng cung ứng nguyên liệu sản xuất và tiêu thụ sản phẩm trên cả nước về KCN chuyên sâu Phú Mỹ 3; giúp các nhà đầu tư, chủ hàng vận chuyển nguyên vật liệu-sản phẩm thuận tiện với giải pháp tối ưu nhất về chi phí.

section.about-2-section.section-t-large.is-rounded-tl-l.mt-10.lozad-bg(data-background-image="./img/about-2-bg.jpg")
	.container
		.row(class="-mt-10")
			.col(class="w-full mt-10 md:w-1/2 xl:5/12")
				.block-content.is-rounded-tl
					h2.site-title.is-white Hình thành
					.site-desc.is-white.mt-6
						p Cảng cạn Phú Mỹ được hình thành từ nhu cầu tối ưu hóa vận tải hàng hóa xuất, nhập khẩu của khu vực Tỉnh Bà Rịa – Vũng Tàu tới các hành lang kinh tế lân cận; trở thành trung tâm hậu cần của cảng biển; kết nối với các cảng cạn xa cảng biển gắn liền với các trung tâm phân phối tiêu thụ hàng hóa, các cửa khẩu đường bộ, đường thủy để nâng cao hiệu quả kết nối mạng lưới vận tải, thúc đẩy vận tải đa phương thức, giảm chi phí dịch vụ vận tải và logistics.

section.about-3-section.section-large
	.container
		h2.site-title Giá trị
		.site-desc.mt-6
			p Với đội ngũ CBNV chuyên nghiệp, tận tâm, chu đáo, chúng tôi cam kết mang đến những giá trị tốt nhất cho khách hàng và các đối tác.
		.about-3-list.mt-10
			- for(x=1; x<=4; x++)
				.about-3-item.is-rounded-tl-s.item-hover
					.image.img-cover
						+img(320, 212)
					.caption
						h3.title Chúng tôi đề cao các thực hành đạo đức và tính liêm chính

		.row(class="items-center")
			.col(class="w-full mt-10 lg:w-1/2 xl:mt-20")
				.block-content
					h2.site-title Sứ mệnh
					.full-content.mt-6
						h3 Với sự đầu tư quy mô và bài bản, Cảng cạn Phú Mỹ không ngừng đa dạng và chuẩn hóa các dịch vụ như:
						ul
							li Dịch vụ hỗ trợ vận tải
							li Dịch vụ vận tải đa phương thức bằng đường bộ và đường thủy
							li Dịch vụ gia tăng giá trị hàng hóa
							li Và các dịch vụ khác theo quy định của pháp luật. Qua đó, giúp các nhà đầu tư, chủ hàng thuận tiện trong việc vận chuyển nguyên vật liệu, sản phẩm cũng như tối ưu hóa thời gian và chi phí sản xuất. Đặt trong bối cảnh chi phí logistics tại Việt Nam còn đang cao so với các nước trong khu vực cũng như trên thế giới, hoạt động của cảng cạn Phú Mỹ sẽ giúp gia tăng đáng kể năng lực cạnh tranh của hàng hóa “made in Vietnam” trên trường quốc tế.
			.col(class="w-full mt-10 lg:w-1/2 xl:mt-20")
				.block-image.is-rounded-tl-l(class="xl:rem:max-w-[660px] xl:ml-auto xl:mr-0")
					+img(660, 520)

		.row(class="items-center lg:flex-row-reverse")
			.col(class="w-full mt-10 lg:w-1/2 xl:mt-20")
				.block-content
					h2.site-title Tầm nhìn
					.full-content.mt-6
						p Theo Quy hoạch phát triển hệ thống cảng cạn Việt Nam thời kỳ 2021 – 2030, tầm nhìn đến năm 2050 đang trình Chính phủ phê duyệt, cảng cạn Phú Mỹ có năng lực thông qua khoảng 300.000 – 400.000 teu/năm.
						p Cảng cạn Phú Mỹ nói riêng và KCNCS Phú Mỹ 3 nói chung luôn nỗ lực không ngừng để hướng tới mục tiêu trở thành Cảng cạn quy mô, hiện đại, phát triển năng động bậc nhất khu vực
			.col(class="w-full mt-10 lg:w-1/2 xl:mt-20")
				.block-image.is-rounded-tl-l(class="xl:rem:max-w-[660px]")
					+img(660, 520)

section.about-4-section.section-large.is-rounded-bl-l.lozad-bg(data-background-image="./img/about-4-bg.jpg")
	.container
		h2.site-title.is-white Phương châm
		.site-desc.is-white.mt-3
			p Cảng cạn Phú Mỹ và KCNCS Phú Mỹ 3 luôn cam kết mang đến những giá trị tốt nhất cho khách hàng và các nhà đầu tư. Góp phần xây dựng khu đô thị cảng hiện đại, phồn vinh, phát triển bền vững với môi trường, gia tăng giá trị doanh nghiệp và tăng trưởng kinh tế-xã hội của định phương.

section.home-brand
	.brand-marquee
		- for(x=1; x<=12; x++)
			.brand-item.img-contain
				img(src="./img/brand-1.png", alt="")
