section.location-section.section-large
	.container
		h1.site-title Vị trí chiến lược
		.location-list.mt-10.space-y-10
			- for(x=1; x<=3; x++)
				.location-item
					.image.img-cover
						+img(700, 580)
					.caption
						p.news-category.mb-3 VỊ TRÍ CHIẾN LƯỢC
						h3.title Kết nối đường bộ
						.line-long-arrow.my-8
						.km-list.space-y-5
							.km-item
								.desc 100 km
								.title Cụm cảng Cái Mép Thị Vải
							.km-item
								.desc 100 km
								.title Cụm cảng Cái Mép Thị Vải
							.km-item
								.desc
									i.fa-light.fa-map-location
								.title Cụm cảng Cái Mép Thị Vải
