.general-services
	@apply bg-neutral-50
	.site-title
		@apply text-center
	.services-grid
		@apply mt-10 grid grid-cols-1 lg:grid-cols-2 gap-10

	.service-card
		@apply relative rounded-10 overflow-hidden flex flex-col cursor-pointer p-6 md:p-10 rem:h-[300px] xl:rem:h-[380px]
		@apply flex flex-col justify-between
		.image
			@apply absolute inset-0 object-cover w-full h-full z-0 transition-transform duration-700
		.overlay
			@apply absolute inset-0 z-0 transition-all duration-300
			background: linear-gradient(180deg, rgba(43, 70, 160, 0.80) 0%, rgba(69, 69, 69, 0.20) 100%)
		.caption
			@apply relative z-10 
			.title
				@apply relative text-white font-bold text-xl xl:text-3xl uppercase pb-4 w-fit whitespace-nowrap mb-0 transition-all duration-300
			.line
				@apply absolute left-0 rem:w-[200px] h-[2px] bg-white transition-all duration-300
				&::before
					content: ''
					@apply absolute -bottom-[4px] right-0 w-[10px] h-[10px] bg-white rounded-full transition-all duration-300 z-10
			.desc
				@apply text-white text-base md:text-lg mt-6 font-normal leading-[1.33] transition-all duration-500 overflow-hidden opacity-0 -translate-y-4 max-h-0
		.bottom
			@apply absolute bottom-10 left-0 w-full text-center p-4 md:py-6 text-neutral-950 font-bold z-10 text-lg md:text-xl
			@apply opacity-100 translate-y-0 transition-all duration-300
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50%, rgba(255, 255, 255, 0.00) 100%)
		&:hover
			.image
				@apply scale-105
			.caption
				.desc
					@apply opacity-100 translate-y-0 
					max-height: 400px
					@apply overflow-hidden overflow-y-auto
					// scrollbar-hidden 
					&::-webkit-scrollbar
						display: none
					&::-webkit-scrollbar-track
						background: transparent
					&::-webkit-scrollbar-thumb
						background: transparent
			.bottom
				@apply opacity-0 translate-y-6 pointer-events-none