section.utilities-section.section-large
	.container
		h1.site-title Tiện ích cảng
		.site-desc.mt-10
			p Cảng cạn Phú Mỹ có quy mô diện tích đất khoảng 37,84 ha bao gồm 6 bến cảng cùng hệ thống kho bãi, depot container rỗng… Với tổng mức đầu tư lên đến 2.990 tỉ đồng, Cảng cạn Phú Mỹ đặt mục tiêu phục vụ nhu cầu của các khách hàng trong KCN và khu vực Cái Mép – Thị Vải. Đây là cảng cạn đầu tiên của tỉnh Bà Rịa-Vũng Tàu với đầy đủ hệ thống hạ tầng cầu cảng, kho bãi, depot container rỗng, trang thiết bị khai thác hiện đại… cung cấp các giải pháp logistics toàn diện, trọn gói, đa phương thức.
		.utilities-list.mt-10
			- for(x=1; x<=4; x++)
				.utilities-item.is-rounded-tl.item-hover
					.image.img-cover
						+img(680, 464)
					.caption
						h2.title Cầu bến
						.desc
							ul
								li 6 cẩu bờ MacGregor cố định
								li Xe nâng chuyên dụng 32 tấn và 3.5 tấn
								li Phếu và băng tải phục vụ hàng rời
								li Ngáng cẩu container
