extends ./_layout/_default

block var
	- var title = 'PM3SIP'
	- var bodyClass = ''

block main
	include ../components/banner/banner-child
	include ../components/breadcrumb/breadcrumb
	include ../components/career/career
