footer
	.footer-top
		.row(class="-mt-10")
			.col(class="w-full mt-10 md:w-1/2 col-cus-1")
				.footer-xl-flex
					.footer-logo
						a(href="/")
							img(src="./img/logo-w.png", alt="")
					.footer-info
						h4 CẢNG CẠN PHÚ MỸ
						ul
							li
								i.icon.fa-light.fa-location-dot
								p Trụ sở: KCN Chuyên Sâu Phú Mỹ 3, Phường Phước Hòa, Tỉnh Bà Rịa Vũng Tàu, Việt Nam
							li
								i.icon.fa-light.fa-phone
								p Số điện thoại liên hệ:&nbsp;
									a(href="tel: 097 716 1417") 097 716 1417
							li
								i.icon.fa-light.fa-envelope
								p Email:&nbsp;
									a(href="mailto: sales-pmdryport@phumy3sip.com") sales-pmdryport@phumy3sip.com
			.col(class="w-full mt-10 md:w-1/2 col-cus-2")
				p.footer-title DỊCH VỤ
				ul.footer-menu
					li
						a(href="#") Dịch vụ Hàng rời
					li
						a(href="#") Dịch vụ Hàng container
					li
						a(href="#") Dịch vụ Vận chuyển
					li
						a(href="#") Dịch vụ Kho bãi
					li
						a(href="#") Dịch vụ Bến phao
					li
						a(href="#") Dịch vụ Thủ tục hải quan
			.col(class="w-full mt-10 md:w-1/2 col-cus-3")
				p.footer-title LIÊN KẾT NHANH
				ul.footer-menu
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Tin tức
					li
						a(href="#") Tuyển dụng
					li
						a(href="#") Thư viện
					li
						a(href="#") Liên hệ
			.col(class="w-full mt-10 md:w-1/2 col-cus-4")
				.footer-news-letter
					form(action="")
						h4 ĐĂNG KÝ NHẬN BẢN TIN
						p Đăng ký ngay để nhận thông tin về hoạt động mới nhất từ công ty.
						.form-group
							input(type="text", placeholder="Điạ chỉ email...")
							button(type="submit")
								span GỬI
								span.icon
									i.fa-solid.fa-arrow-right
									i.fa-solid.fa-arrow-right
				.social-list.mt-5
					ul
						li
							a(href="#")
								i.icon.fa-brands.fa-facebook-f
						li
							a(href="#")
								i.icon.fa-brands.fa-youtube
						li
							a(href="#")
								i.icon.fa-brands.fa-linkedin-in
						li
							a(href="#")
								i.icon.fa-regular.fa-envelope
	.footer-bot
		.footer-copyright
			p Copyright © 2024 Cảng cạn Phú Mỹ. All Rights Reserved. Thiết kế web bởi Cánh Cam.
		.footer-policy
			a(href="#") Điều kiện & Điều khoản
			p |
			a(href="#") Quy định bảo mật
