.footer-brand-title
	@apply text-center mb-5
	&__text
		@apply text-40 font-bold uppercase tracking-[-0.8px] leading-[1.8] block w-full
		background-clip: text
		-webkit-background-clip: text
		color: transparent
		-webkit-text-fill-color: transparent
		background-size: cover
		background-position: center

.footer-top
	@apply bg-cover bg-no-repeat bg-center px-6 py-10 rounded-tl-10
	@screen md
		@apply px-12 rem:py-10 rounded-tl-20
	@screen xl
		@apply px-16 rem:py-10 rounded-tl-30
	.container
		@apply max-w-full px-0 mx-auto

.footer-logo
	@apply rem:w-[124px] rem:h-[72px] mx-auto
	img
		@apply size-full object-contain

.footer-address-group
	@apply flex flex-col gap-12 xl:gap-16

.footer-address-block
	&__title
		@apply sub-header-20 font-bold text-white uppercase pb-3 mb-3 border-b border-white

.footer-address-block__content
	p
		@apply body-16 font-normal text-white py-4 border-b border-white/20 block
		&:has(a)
			@apply hover-underline


.footer-title
	@apply sub-header-20 font-bold text-white uppercase pb-3 mb-3 border-b border-white

.footer-menu
	@apply space-y-3
	a, p
		@apply body-16 font-normal text-white py-4 border-b border-white/20 block
	a
		@apply hover-underline

.footer-copyright
	@apply body-14 font-medium text-neutral-500 text-center lg:text-left

.footer-policy
	@apply body-14 font-medium text-neutral-500 flex items-center gap-4
	p
		@apply px-4 text-black/20
	a
		@apply hover-underline

.footer-bot
	@apply px-4 py-6 flex flex-col items-center gap-5 justify-between bg-white md:px-0 xl:py-8 lg:flex-row

.footer-grid
	@apply grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-5 xl:gap-10
	.footer-grid__item
		&:first-child
			@apply col-span-1 md:col-span-2 xl:col-span-1


footer
	@apply relative z-100 md:px-4 xl:px-10 xl:z-0 mt-10
	.social-list
		ul
			@apply flex flex-wrap rem:gap-8
		a
			@apply flex-center text-white text-5xl bg-none
			&:hover
				@apply text-primary-2
