include ../cangcanphumy/section1/section1.pug

section.general-nav
	.container
		ul.nav-list
			li.nav-item.active
				a.nav-link(href="#gioi-thieu") GIỚI THIỆU
			li.nav-item
				a.nav-link(href="#ha-tang") HẠ TẦNG
			li.nav-item
				a.nav-link(href="#dich-vu-cang") DỊCH VỤ CẢNG
			li.nav-item
				a.nav-link(href="#dich-vu-ben-phao") DỊCH VỤ BẾN PHAO
include ./section1/section1.pug
include ./section2/section2.pug
include ./section3/section3.pug
//- include ./section4/section4.pug
//- include ./section5/section5.pug
//- include ./section6/section6.pug


