section.section-khophumy-infrastructure.full-bleed.lozad-bg#ha-tang(data-background-image="./img/background_hatang_nangluc.png")
	.container
		.section-khophumy-infrastructure__inner
			h2.section-khophumy-infrastructure__title Hạ tầng và năng lực vận hành
			.bg-svg
					img(src='./img/line_connect_polygon.svg', alt='Cơ sở vật chất')
			.section-khophumy-infrastructure__polygon-list
				div.section-khophumy-infrastructure__polygon-item
					div.section-khophumy-infrastructure__polygon-wrap
						div.bg-overlay.lozad-bg(data-background-image="./img/bg-polygon.png")
						div.section-khophumy-infrastructure__polygon-icon
							img(src='./img/icon_csvc.svg', alt='Cơ sở vật chất')
						h3.section-khophumy-infrastructure__polygon-title Cơ sở vật chất
						div.section-khophumy-infrastructure__polygon-detail
							ul
								li Diện tích sàn kho: 54.000m²
								li Chiều cao mái kho: 12–19m
								li Tải trọng sàn: 5 tấn/m²
								li Số docks: 68 docks
								li Tổng sức chứa: trên 54,000 cbm
								li Trang thiết bị: 100% xe nâng điện, dock levelers
				div.section-khophumy-infrastructure__polygon-item
					div.section-khophumy-infrastructure__polygon-wrap
						div.bg-overlay.lozad-bg(data-background-image="./img/bg-polygon.png")
						div.section-khophumy-infrastructure__polygon-icon
							img(src='./img/icon_csvc.svg', alt='Cơ sở vật chất')
						h3.section-khophumy-infrastructure__polygon-title Cơ sở vật chất
						div.section-khophumy-infrastructure__polygon-detail
							ul
								li Diện tích sàn kho: 54.000m²
								li Chiều cao mái kho: 12–19m
								li Tải trọng sàn: 5 tấn/m²
								li Số docks: 68 docks
								li Tổng sức chứa: trên 54,000 cbm
								li Trang thiết bị: 100% xe nâng điện, dock levelers
				div.section-khophumy-infrastructure__polygon-item
					div.section-khophumy-infrastructure__polygon-wrap
						div.bg-overlay.lozad-bg(data-background-image="./img/bg-polygon.png")
						div.section-khophumy-infrastructure__polygon-icon
							img(src='./img/icon_csvc.svg', alt='Cơ sở vật chất')
						h3.section-khophumy-infrastructure__polygon-title Cơ sở vật chất
						div.section-khophumy-infrastructure__polygon-detail
							ul
								li Diện tích sàn kho: 54.000m²
								li Chiều cao mái kho: 12–19m
								li Tải trọng sàn: 5 tấn/m²
								li Số docks: 68 docks
								li Tổng sức chứa: trên 54,000 cbm
								li Trang thiết bị: 100% xe nâng điện, dock levelers
