.sitemap
	.container
		.sitemap-heading
			h1 Sơ đồ site
		#ctl00_mainContent_menu.AspNet-TreeView
			ul#ctl00_mainContent_menu_UL
				li.AspNet-TreeView-Root
					a.AspNet-TreeView-Collapse( href='#' )
					a(href='#') Trang chủ
					ul
						li.AspNet-TreeView-Leaf
							a(href='#/cong-ty-thanh-vien') Công ty thành viên
						li.AspNet-TreeView-Leaf
							a(href='#trach-nhiem-cong-dong/tong-hop') Phát triển bền vững
				li.AspNet-TreeView-Root
					a.AspNet-TreeView-Collapse( href='#gioi-thieu' )
					a(href='#gioi-thieu') Giới thiệu tập đoàn
					ul
						li.AspNet-TreeView-Parent
							a.AspNet-TreeView-Collapse( href='#gioi-thieu-tap-doan/gioi-thieu' )
							a(href='#gioi-thieu-tap-doan/gioi-thieu') Giới thiệu
							ul
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/gioi-thieu/vi-sao-chon-chung-toi') Vì sao chọn chúng tôi
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/gioi-thieu/cot-moc-phat-trien') Cột mốc phát triển
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/gioi-thieu/ban-lanh-dao') Ban lãnh đạo
						li.AspNet-TreeView-Parent
							a.AspNet-TreeView-Collapse( href='#gioi-thieu-tap-doan/tam-nhin-su-menh' )  
							a(href='#gioi-thieu-tap-doan/tam-nhin-su-menh') Tầm nhìn - Sứ mệnh
							ul
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/tam-nhin-su-menh/gia-tri-cot-loi') Giá trị cốt lõi
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/tam-nhin-su-menh/ton-chi-hoat-dong') Tôn chỉ hoạt động
						li.AspNet-TreeView-Parent
							a.AspNet-TreeView-Collapse( href='#gioi-thieu-tap-doan/giai-thuong' )  
							a(href='#gioi-thieu-tap-doan/giai-thuong') Giải thưởng
							ul
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/giai-thuong/giai-thuong-tieu-bieu') Giải thưởng tiêu biểu
								li.AspNet-TreeView-Leaf
									a(href='#gioi-thieu-tap-doan/giai-thuong/thanh-tuu-cua-bitex-group') Thành tựu của Bitex Group
				li.AspNet-TreeView-Root
					a.AspNet-TreeView-Collapse( href='#linh-vuc-hoat-dong/phan-phoi' )  
					a(href='#linh-vuc-hoat-dong/phan-phoi') Lĩnh vực hoạt động
					ul
						li.AspNet-TreeView-Leaf
							a(href='#linh-vuc-hoat-dong/phan-phoi') Phân phối
						li.AspNet-TreeView-Leaf
							a(href='#linh-vuc-hoat-dong/san-xuat') Sản xuất
						li.AspNet-TreeView-Leaf
							a(href='#linh-vuc-hoat-dong/bat-dong-san') Bất động sản
				li.AspNet-TreeView-Root
					a.AspNet-TreeView-Collapse( href='#trach-nhiem-cong-dong/tong-hop' )  
					a(href='#trach-nhiem-cong-dong/tong-hop') Trách nhiệm cộng đồng
					ul
						li.AspNet-TreeView-Parent
							a.AspNet-TreeView-Collapse( href='#trach-nhiem-cong-dong/tong-hop' )  
							a(href='#trach-nhiem-cong-dong/tong-hop') Tổng hợp
							ul
								li.AspNet-TreeView-Leaf
									a(href='#trach-nhiem-cong-dong/tong-hop/bao-cao-phat-trien-ben-vung') Báo cáo phát triển bền vững
						li.AspNet-TreeView-Leaf
							a(href='#trach-nhiem-cong-dong/giao-vien') Giáo viên
						li.AspNet-TreeView-Leaf
							a(href='#trach-nhiem-cong-dong/hoc-sinh') Học sinh
						li.AspNet-TreeView-Leaf
							a(href='#trach-nhiem-cong-dong/xa-hoi') Xã hội
				li.AspNet-TreeView-Root
					a.AspNet-TreeView-Collapse( href='#tin-tuc-su-kien' )  
					a(href='#tin-tuc-su-kien') Tin tức - Sự kiện
					ul
						li.AspNet-TreeView-Leaf
							a(href='#tin-tuc-su-kien/tin-tuc-su-kien') Tin tức - Sự kiện
						li.AspNet-TreeView-Leaf
							a(href='#tin-tuc-su-kien/hoat-dong-xa-hoi') Hoạt động xã hội
						li.AspNet-TreeView-Leaf
							a(href='#tin-tuc-su-kien/canh-bao-hang-gia') Cảnh báo hàng giả
						li.AspNet-TreeView-Leaf
							a(href='#tin-tuc-su-kien/chuong-trinh-khuyen-mai') Chương trình khuyến mãi
				li.AspNet-TreeView-Root.AspNet-TreeView-Leaf
					a(href='#lien-he') Liên hệ
				li.AspNet-TreeView-Root.AspNet-TreeView-Leaf
					a(href='#dieu-kien-dieu-khoan') Điều kiện & Điều khoản
				li.AspNet-TreeView-Root.AspNet-TreeView-Leaf
					a(href='#chinh-sach-bao-mat') Chính sách bảo mật
		.clear
